// Colors
$color-primary-1: #158fe2;
$color-primary-2: #0366aa;

$color-secondary-1: #101123;
$color-secondary-2: #171831;

$color-accent: #9a9ec9;
$color-accent-2: #4e5477;

$color-grey-light: #f7f7f7;
$color-grey-dark: #0b0b0b;

// Shadow
$box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
$box-shadow-dark: 0 1rem 2rem rgba(0, 0, 0, 0.2);

// Font
$default-font-size: 1.7rem;
$font-family: 'Inter', sans-serif;
